[tool.pytest.ini_options]

markers = [
    "oss_skip: marks tests to skip in OSS CI",
    "spawn_isolate(timeout=None, env=None): run this test in a spawned subprocess",
]
asyncio_mode = "auto"
# Default timeout of 5 minutes
timeout = 300
